@charset "utf-8";
/* CSS Document */
body,div,ul,li,dt,dd,dl,p,h1,h2,h3,h4,h5,h6,a,img,input{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img,input{border:0;}
i{font-style:normal;}
body{font-family:"微软雅黑";}

.clearfix:after{
	content:"200B";
	display:block;
	font-size:0;
	height:0;
	claer:bith;
}