@charset "utf-8";
/* CSS Document */
.inner{width:1140px;margin:0 auto;}
.header{height:836px;background:url(../images/2.jpg) no-repeat center top;background-size:cover;}
.header .header-top{height:152px;}
.header .header-top .left{float:left;width:182px;height:152px;background:#ffad06;}
.header .header-top .left a h2{color:#fff;font-size:2.7em;line-height:152px;text-align:center;}
.header .header-top .right{width:912px;height:152px;float:right;}
.header .right .right-two ul li{float:left;}
.header-input{width:94px;height:35px;background:#ffad06;border-radius:4px;margin-left:586px;margin-top:21px;color:#fff;float:left;cursor:pointer;font-size:1.0em;transition: all 1s;}
.header-input:hover{background:#7bcec4;}
.right-one{height:72px;}
.right-one p{float:right;padding-top:32px;font-size:1em;color:#fff;}
.right-two ul li{width:182px;height:72px;background:#fff;position:relative;overflow:hidden;}
.right-two ul li a{color:#ffad06;font-size:1em;line-height:72px;padding-left:62px;width:182px;height:72px;display:inline-block;}
.right-two ul li .box{width:182px;height:70px;background:#7bcecb;position:absolute;top:-70px;left:0;color:#ffad06;font-size:1em;line-height:72px;padding-left:62px;display:inline-block;}
.right-two ul li:hover .box{top:0;left:0;transition:all 1s;}
.right-two ul li:hover a{color:#fff;}
.header-center h2{font-size:2.0em;color:#fff;padding-top:216px;padding-left:177px;}
.center-button{width:114px;height:42px;background:#7bcec4;display:inline-block;margin-left:513px;margin-top:29px;color:#fff;font-size:1.0em;border-radius:3px;cursor:pointer;transition: all 1s;}
.center-button:hover{background:#ffad06;}
.nav{background:#7bcec4;height:136px;margin-top:228px;}
.nav-main{width:336px;height:136px;float:left;background:url(../images/nav_03.jpg) no-repeat; background-position:15px 32px;margin-left:44px;}
.nav-main h2{padding-top:51px;padding-left:146px;font-size:20px;color:#fff;}
.nav-main p{padding-left:146px;font-size:14px;color:#fff;}
.nav .two{background:url(../images/nav_05.jpg) no-repeat;background-position:15px 32px;margin-left:44px;}
.nav .three{background:url(../images/nav_07.jpg) no-repeat;background-position:15px 32px;margin-left:44px;}
.main{height:1877px;}
.main1{height:546px;}
.main1 h2{padding-top:72px;text-align:center;font-size:2.0em;color:#ffad06;padding-bottom:36px;}
.main1-bot{height:410px;}
.main1-bot-1{width:285px;height:410px;float:left;}
.yuan{width:255px;height:255px;border-radius:50%;background:url(../images/p1.jpg) no-repeat center center;}
.main1-bot-1 h3{padding-top:16px;font-size:1.3em;text-align:center;padding-bottom:4px;}
.main1-bot-1 p{line-height:29px;text-align:center;color:#8e837b;}
.main1-bot-1 .one{width:255px;height:255px;border-radius:50%;background:url(../images/p2.jpg) no-repeat center center;}
.main1-bot-1 .two{width:255px;height:255px;border-radius:50%;background:url(../images/p3.jpg) no-repeat center center;}
.main1-bot-1 .three{width:255px;height:255px;border-radius:50%;background:url(../images/p4.jpg) no-repeat center center;}
.main2-top{height:450px;width:100%}
.main2-top .text{width:50%;background:#7bcec4;height:450px;float:left;}
.main2-top .text h1{color:#fff;font-size:3em;padding-top:125px;padding-bottom:33px;padding-left:25%;}
.main2-top .text p{padding-left:25%;color:#e6ffff;line-height:29px;padding-right:2.7%;}
.main2-top .pig{width:50%;height:450px;float:left;background:url(../images/3.jpg) no-repeat center top;background-size:cover;}
.main2-top .one-pig{width:50%;height:450px;float:left;background:url(../images/4.jpg) no-repeat center top;background-size:cover;}
.main3{height:430px;}
.main3-text{width:554px;padding-left:16px;float:left;}
.main3-text h1{padding-top:75px;padding-bottom:22px;}
.main3-text h3{color:#ffad06;}
.main3-text p{line-height:28px;}
.footer{height:143px;background:#000000;padding-bottom:33px;}
.footer-box1{height:32px;}
.footer-top{height:39px;}
.footer-top h2{color:#fff;display:inline-block;font-size:18px;padding-left:15px;padding-right:122px;}
.footer-top .text{width:562px;height:39px;border-radius:5px;font-size:14px;padding-left:16px;}
.footer-top .submit{width:165px;height:41px;background:#ffad06;border-radius:5px;text-align:center;line-height:41px;font-size:14px;color:#fff;margin-left:52px;cursor:pointer;}
.footer-bottom {height:104px;line-height:104px;text-align:center;}
.footer-bottom p{color:#fff;}
.footer-bottom span{color:#ffad06;display:inline-block;padding-left:4px;transition:all 1s;}
.footer-bottom span:hover{color:#fff;}